// colors

$primary-color: #E7FFFB;
$primary-color-dark: #07A189;
$color-white: #fff;
$color-black: #000;
$color-gray: #888888;
$color-danger: #DA0028;
$color-light: #FBFBFB;
$color-text-gray: #6C6C6C;
$color-text-dark: #1D1D1D;
$color-text-light: #9F9F9F;
$color-yellow: #eac74c;

$dark_white: #f6f6f6;
$light_gray: #dcdcdc;
$light_gray_s1: #b5b5b5;
$light_gray_s2: #b9b9b9;
$light_gray_s3: #b0b0b0;
$light_gray_s4: #fbfbfb;
$dark_gray: #888888;
$dark_gray_s1: #6c6c6c;
$dark_gray_s2: #a7a49d;
$dark_gray_s3: #7b7b7b;



//font size

$fz-8: 0.5rem;
$fz-10: 0.625rem;
$fz-12: 0.75rem;
$fz-14: 0.875rem;
$fz-16: 1rem;
$fz-18: 1.125rem;
$fz-20: 1.25rem;
$fz-22: 1.375rem;
$fz-24: 1.5rem;
$fz-30: 1.875rem;
$fz-36: 2.25rem;
$fz-35: 2.188rem;
$fz-40: 2.5rem;
$fz-45: 2.813rem;
$fz-50: 3.125rem;


//font size

$fw-500: 500;
$fw-600: 600;


//Border radius

$radius-xxl: 15px;
$radius-xl: 12px;
$radius-lg: 8px;
$radius-md: 6px;
$radius-sm: 4px;


$shadow-1: 0px 1px 11px 13px rgba(0, 0, 0, 0.03);