@import "../../assets/scss/mixins";

.freelancer-input {
  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c6c;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  &_wrapper-icon {
    position: relative;
    svg {
      position: absolute;
      z-index: 2;
      margin: 14px 12px;
    }
    input {
      position: relative;
      background: $color-white;
      border: 1px solid $primary-color-dark;
      box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
      border-radius: 10px;
      padding: 16px 50px;
      max-width: 237px;
      &::placeholder {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ccd8d6;
      }
    }
  }
}
