@import "../../assets/scss/mixins";

.otp {
  width: 100%;
  height: 100%;
  display: flex;

  @media only screen and (max-width: 568px) {
    display: block;
    padding: 23px 27px;
    overflow-y: scroll;
    max-width: 420px;
    border-radius: 20px;
    background-color: #e7fffb;
    width: 100%;
    margin: 0 20px;
    height: fit-content;
  }

  &_left {
    padding: 100px 150px 0 150px;
    @media only screen and (max-width: 1201px) {
      padding: 100px 40px 0 40px;
    }
    @media only screen and (max-width: 1068px) {
      margin: 0 auto;
    }

    @media only screen and (max-width: 568px) {
      padding: 0;
    }

    &_title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      color: #000000;
      margin-bottom: 26px;
      @media only screen and (max-width: 568px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    &_sub-title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 25px;
      color: #474747;
      max-width: 500px;
      @media only screen and (max-width: 568px) {
        font-size: 18px;
        line-height: 27px;
      }
    }
    &_form-wrapper {
      &_form-item {
        margin-bottom: 106px;
        @media only screen and (max-width: 568px) {
          margin-bottom: 65px;
        }
        label {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #000000;
        }

        div {
          flex-wrap: wrap;
            column-gap: 6px;
        }

        &_otp {
          margin-top: 18px;
          margin-right: 28px;
          @media only screen and (max-width: 568px) {
            margin-top: 6px;
            margin-right: 0px;
          }
          input {
            background: $color-white;
            border: 1px solid $primary-color-dark !important;
            box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
            border-radius: 15px;
            width: 60px !important;
            height: 61px;
            @media only screen and (max-width: 568px) {
              width: 51px !important;
              height: 51px;
              border: 1.5px solid #07a189 !important;
              box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
              border-radius: 11px;
            }
            @media only screen and (max-width: 568px) {
              width: 51px !important;
              height: 51px;
              border: 1.5px solid #07a189 !important;
            }
            @media only screen and (max-width: 468px) {
              width: 47px !important;
              height: 47px;
            }
            @media only screen and (max-width: 368px) {
              width: 37px !important;
              height: 37px;
            }
          }
        }
      }

      &_submit-btn {
        background: #1e1e1e;
        border: 1px solid #1e1e1e;
        border-radius: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        height: 53px;
        color: #ffffff;
        max-width: 491px;
        width: 100%;
      }
    }
  }
  &_right {
    height: 100%;
    width: 100%;
    max-width: 40%;
    position: fixed;
    right: 0;
    background-color: #000;
    @media only screen and (max-width: 1068px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.5;
    }
  }
}
