@import "../../assets/scss/mixins";

.freelancer_section {
  padding: 0 60px;
  max-width: 1440px;
  margin: 0 auto;
  @media only screen and (max-width: 568px) {
    padding: 0 20px;
  }
  &_container {
    //background: #f5f5f5;
    background: #fff;
    border-radius: 14px;
    margin-top: -190px;
    padding: 0 91px;
    margin-bottom: 60px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0 32px;
    }
    @media only screen and (max-width: 568px) {
      margin-top: -120px;
      padding: 0;
    }
    .personal_details_section {
      &_form {
        display: flex;
        @media only screen and (max-width: 1068px) {
          flex-direction: column;
        }
        @media only screen and (max-width: 568px) {
          padding: 0 32px;
        }
        &_left {
          .profile {
            width: auto;
            margin-right: 112px;
            @media only screen and (max-width: 1068px) {
              margin-right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .user_profile {
              text-align: center;
              &_pic {
                position: relative;
                margin-bottom: 24px;
                //border: 1px solid lightgray;
                //border-radius: 5% !important;
                .profile_circle {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 223px;
                  width: 223px;
                  background: rgba(7, 161, 137, 0.1);
                  border: 1px solid #07a189;
                  border-radius: 50%;
                  position: relative;
                  @media only screen and (max-width: 568px) {
                    height: 184px;
                    width: 184px;
                    svg {
                      height: 73px;
                      width: 62px;
                    }
                  }
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                //img {
                //  border-radius: 100% ;
                //  height: 100px ;
                //  object-fit: cover ;
                //  width: 100px ;
                //}
                .profile_label {
                  padding-left: 14px;
                }
                .addnew {
                  bottom: 0px;
                  height: 30px;
                  right: -4px;
                  width: 30px;
                  background: white;
                  padding: 15px;
                  border-radius: 50%;
                  position: absolute;
                  left: 165px;
                  min-height: 58px;
                  min-width: 58px;
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                  @media only screen and (max-width: 568px) {
                    padding: 12px 9px;
                    height: fit-content;
                    left: 140px;
                    bottom: 4px;
                    min-height: 47px;
                    min-width: 47px;
                    svg {
                      height: 20px;
                      width: 21px;
                    }
                  }
                  input[type="file"] {
                    cursor: pointer;
                    font-size: 0;
                    height: 100%;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        &_right {
          width: 100%;
          .formData_main_section {
            display: flex;
            width: 100%;
            @media only screen and (max-width: 568px) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .form-left-side {
              width: 100%;
              margin-right: 11px;
              @media only screen and (max-width: 568px) {
                margin-right: 0;
              }
            }
            .form-left-right {
              width: 100%;
              margin-left: 11px;
              @media only screen and (max-width: 568px) {
                margin-left: 0;
              }
            }
          }
          .formData {
            margin-bottom: 22px;
            label {
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              color: #6c6c6c;
            }
            .words-count {
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              color: #6c6c6c;
              display: flex;
              justify-content: flex-end;
              margin-top: 18px;
            }
            .input-field {
              position: relative;
              img {
                position: absolute;
                left: 14px;
                top: 19px;
              }
              img.mail {
                top: 24px;
              }
              img.title {
                top: 15px;
              }
              img.location {
                top: 17px;
              }
              input {
                margin-top: 6px;
                background: #ffffff;
                border: 1px solid #07a189;
                box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
                border-radius: 10px;
                height: 52px;
                padding: 14px 55px;
                box-sizing: border-box;
                width: 100%;
              }
              textarea {
                width: 100%;
                margin-top: 6px;
                background: #ffffff;
                border: 1px solid #07a189;
                box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
                border-radius: 10px;
                padding: 14px;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }

    .myGig-details-section {
      padding: 0 233px;
      @media only screen and (max-width: 1200px) {
        padding: 0 133px;
      }
      @media only screen and (max-width: 1068px) {
        padding: 0 70px;
      }
      @media only screen and (max-width: 768px) {
        padding: 0 40px;
      }
      @media only screen and (max-width: 568px) {
        padding: 0;
      }
      .title-category h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #262525;
        margin-bottom: 19px;
      }
      .gig-profile-section {
        display: flex;
        //justify-content: space-between;
        margin-top: 6px;
        margin-bottom: 77px;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
        .profile {
          width: auto;
          padding-right: 0;
          .user_profile {
            text-align: center;
            &_pic {
              position: relative;
              margin-bottom: 10px;
              //border: 1px solid lightgray;
              border-radius: 5% !important;
              .profile_circle {
                height: 105px;
                width: 105px;
                background: #ffffff;
                border: 1px solid #07a189;
                box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
                border-radius: 15px;
                &_img {
                  display: flex;
                  width: 100%;
                  align-items: center;
                  height: 100%;
                  justify-content: center;
                }
              }
              //img {
              //  border-radius: 100% ;
              //  height: 100px ;
              //  object-fit: cover ;
              //  width: 100px ;
              //}
              .profile_label {
                padding-left: 14px;
              }
              .addnew {
                bottom: -10px;
                height: 20px;
                position: absolute;
                right: -15px;
                width: 20px;
                background: white;
                padding: 12px;
                border-radius: 50%;
                min-height: 40px;
                min-width: 40px;
                img {
                  width: 100%;
                  height: 100%;
                }
                input[type="file"] {
                  cursor: pointer;
                  font-size: 0;
                  height: 100%;
                  left: 0;
                  opacity: 0;
                  padding-left: 26px;
                  position: absolute;
                  top: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .gigPricing_section {
      width: 100%;
      display: flex;
      width: 100%;
      column-gap: 12px;
      .gigPricing-box-1 {
        background: #e1f8f4;
        border-radius: 15px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #000000;
        padding: 0px 20px;
        max-width: 231px;
        @media only screen and (max-width: 768px) {
          font-size: 18px;
          padding: 0;
        }
        @media only screen and (max-width: 568px) {
          display: none;
        }
        .price {
          padding-top: 106px;
          padding-bottom: 55px;
        }
        .offer {
          padding-top: 127px;
          padding-bottom: 144px;
        }
        .revisions {
          padding-bottom: 36px;
        }
      }
      &_pricing {
        display: flex;
        column-gap: 12px;
        width: 100%;
        // overflow-x: scroll;
        .box {
          flex: 1 1;
        }

        @media only screen and (max-width: 1400px) {
          overflow-x: scroll;
        }

        .gigPricing_box_2 {
          background: #f5f5f5;
          //box-shadow: 0px 1px 11px 13px rgba(0, 0, 0, 0.03);
          border-radius: 19px;
          padding: 28px 0 0;
          height: fit-content;
          min-width: 287px;
          @media only screen and (max-width: 1200px) {
            display: none;
          }
          &_title {
            text-align: center;
            border-bottom: 1px solid #a6a6a6;
            &_pricing-tag {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: #8c8c8c;
              margin: 0;
              margin-bottom: 23px;
              &.active {
                max-width: 120px;
                margin: 0 auto 23px auto;
                background: #0ab79b;
                color: #fff;
                border-radius: 7px;
                padding: 7px 32px;
                max-width: fit-content;
              }
            }
          }
          &_amount {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid #dfdfdf;
            padding: 24px 0 30px 0;
            input {
              border: none;
              border-bottom: 1px solid #000;
              max-width: 209px;
              padding-bottom: 10px;
              text-align: center;
              outline: none;
              margin: 0 auto;
              background: #f5f5f5;

              &::placeholder {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* identical to box height */

                color: #d2d2d2;
              }
            }
          }
          &_select_time {
            padding: 17px 62px 21px 62px;
            border-bottom: 1px solid #dfdfdf;

            .select-section {
              cursor: pointer;
              .css-1s2u09g-control,
              .css-1pahdxg-control {
                border: none;
                background: transparent;
                box-shadow: none;
                width: 100%;
                padding-left: 0;
                max-width: 100%;
                //min-width: 175px;
                height: fit-content;
                .css-14el2xx-placeholder,
                .css-qc6sy-singleValue {
                  padding-left: 0;
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 27px;
                  /* identical to box height */

                  color: #000000;
                }
                // .css-qc6sy-singleValue{
                //   color: black;
                // }
              }
            }

            .dropdown__filter {
              box-shadow: none;
              border: none;
            }
            .dropdown__filter-selected {
              color: black;
            }
          }
          &_points {
            border-bottom: 1px solid #dfdfdf;
            ul {
              display: block;
              border: none;
              padding: 11px 0 26px 40px;
              li {
                list-style: none;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* identical to box height */
                //padding-left: 28px;
                color: #d2d2d2;
                padding-bottom: 23px;
                &::before {
                  content: "*";
                  color: #000;
                  font-weight: normal;
                  display: inline-block;
                  width: 2em;
                  margin-left: -1em;
                  font-size: 18px;
                }
              }
            }
          }
          &_select_revision {
            padding: 18px 38px;
            .dropdown__filter {
              box-shadow: none;
              border: none;
            }

            .select-section {
              cursor: pointer;
              .css-1s2u09g-control,
              .css-1pahdxg-control {
                border: 1px solid #000;
                border-radius: 5px;
                background: transparent;
                box-shadow: none;
                width: 100%;
                padding-left: 0;
                max-width: 100%;
                //min-width: 175px;
                height: fit-content;
                .css-14el2xx-placeholder,
                .css-qc6sy-singleValue {
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 27px;
                  /* identical to box height */
                  padding-left: 0;
                  color: #000000;
                }
                // .css-qc6sy-singleValue{
                //   color: black;
                // }
              }
            }
          }
        }
        .responsive-box {
          display: none;
          @media only screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          &_pricing {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 568px) {
              justify-content: space-around;
            }
            &_item {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 30px;
              color: #8c8c8c;
              margin: 0;
              margin-bottom: 23px;
              &.active {
                max-width: 120px;
                background: #0ab79b;
                color: #fff;
                border-radius: 7px;
                padding: 7px 32px;
                max-width: fit-content;
                @media only screen and (max-width: 1200px) {
                  padding: 5px 20px;
                }
              }
            }
          }
          .gigPricing_box_3 {
            background: #f5f5f5;
           // background: #fff;
            //box-shadow: 0px 1px 11px 13px rgba(0, 0, 0, 0.03);
            border-radius: 19px;
            padding: 0px 0 0;
            height: fit-content;
            min-width: 287px;
            @media only screen and (max-width: 768px) {
              min-width: 240px;
            }
            @media only screen and (max-width: 568px) {
              border-radius: 0;
              border-top: 2px solid #dfdfdf;
            }

            @media only screen and (max-width: 568px) {
              background: #fff;
            }

            &_title {
              text-align: center;
              border-bottom: 1px solid #a6a6a6;
              &_pricing-tag {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #8c8c8c;
                margin: 0;
                margin-bottom: 23px;
                &.active {
                  max-width: 120px;
                  margin: 0 auto 23px auto;
                  background: #0ab79b;
                  color: #fff;
                  border-radius: 7px;
                  padding: 7px 32px;
                  max-width: fit-content;
                }
              }
            }
            &_amount {
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-bottom: 1px solid #dfdfdf;
              padding: 24px 0 30px 0;
              @media only screen and (max-width: 568px) {
                flex-direction: row;
                justify-content: space-between;
                padding: 24px 20px 30px 20px;
                column-gap: 12px;
              }
              input {
                border: none;
                border-bottom: 1px solid #000;
                max-width: 209px;
                padding-bottom: 10px;
                text-align: center;
                outline: none;
                margin: 0 auto;
                background: #f5f5f5;
                @media only screen and (max-width: 568px) {
                  margin: 0;
                  background: #fff;
                }               
                &::placeholder {
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 27px;
                  /* identical to box height */

                  color: #d2d2d2;
                }
              }
            }
            &_select_time {
              padding: 17px 62px 21px 62px;
              border-bottom: 1px solid #dfdfdf;
              @media only screen and (max-width: 568px) {
                padding: 17px 20px 21px 20px;
                border-bottom: none;
              }
              .select-section {
                cursor: pointer;
                max-width: 209px;
                margin: 0 auto;

                @media only screen and (max-width: 568px) {
                  margin: 0;
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  max-width: 100%;
                  align-items: center;
                  column-gap: 12px;
                }
                @media only screen and (max-width: 368px) {
                  flex-direction: column;
                  align-items: flex-start;
                }

                .css-1s2u09g-control,
                .css-1pahdxg-control {
                  border: none;
                  background: transparent;
                  box-shadow: none;
                  width: 100%;
                  padding-left: 0;
                  max-width: 100%;
                  //min-width: 175px;
                  height: fit-content;
                  @media only screen and (max-width: 568px) {
                    border: 1px solid;
                    border-radius: 5px;
                  }
                  .css-14el2xx-placeholder,
                  .css-qc6sy-singleValue {
                    padding-left: 0;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */

                    color: #000000;
                  }
                  // .css-qc6sy-singleValue{
                  //   color: black;
                  // }
                }
              }

              .dropdown__filter {
                box-shadow: none;
                border: none;
              }
              .dropdown__filter-selected {
                color: black;
              }
            }
            &_points {
              border-bottom: 1px solid #dfdfdf;

              @media only screen and (max-width: 568px) {
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                column-gap: 12px;
                border-bottom: none;
              }

              @media only screen and (max-width: 368px) {
                flex-direction: column;
                align-items: flex-start;
              }

              ul {
                display: block;
                border: none;
                padding: 11px 0 26px 40px;
                @media only screen and (max-width: 1200px) {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }
                @media only screen and (max-width: 768px) {
                  padding: 16px 0 0 26px;
                }
                li {
                  list-style: none;
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 27px;
                  /* identical to box height */
                  //padding-left: 28px;
                  color: #d2d2d2;
                  padding-bottom: 23px;
                  @media only screen and (max-width: 568px) {
                    font-size: 16px;
                  }
                  &::before {
                    content: "*";
                    color: #000;
                    font-weight: normal;
                    display: inline-block;
                    width: 2em;
                    margin-left: -1em;
                    font-size: 18px;
                    @media only screen and (max-width: 568px) {
                      width: 1em;
                    }
                  }
                }
              }
            }
            &_select_revision {
              padding: 18px 38px;
              margin: 0 auto;
              @media only screen and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              @media only screen and (max-width: 1200px) {
                max-width: 300px;
              }
              @media only screen and (max-width: 568px) {
                max-width: 100%;
                padding: 18px 20px;
              }
              .dropdown__filter {
                box-shadow: none;
                border: none;
              }

              .select-section {
                cursor: pointer;
                width: 100%;
                @media only screen and (max-width: 568px) {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  column-gap: 12px;
                }

                @media only screen and (max-width: 368px) {
                  flex-direction: column;
                  align-items: flex-start;
                }

                .css-b62m3t-container {
                  @media only screen and (max-width: 568px) {
                    max-width: 186px;
                    width: 100%;
                  }
                }

                .css-1s2u09g-control,
                .css-1pahdxg-control {
                  border: 1px solid #000;
                  border-radius: 5px;
                  background: transparent;
                  box-shadow: none;
                  width: 100%;
                  padding-left: 0;
                  max-width: 100%;
                  //min-width: 175px;
                  height: fit-content;
                  .css-14el2xx-placeholder,
                  .css-qc6sy-singleValue {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */
                    padding-left: 0;
                    color: #000000;
                  }
                  // .css-qc6sy-singleValue{
                  //   color: black;
                  // }
                }
              }
            }
          }
        }
      }
    }
  }
}

ul {
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  justify-content: space-around;
}
.tab-header {
  list-style: none;
}
.tab-header li {
  display: inline;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #b1b1b1;
  cursor: pointer;
  padding-bottom: 24px;
  @media only screen and (max-width: 568px) {
    font-size: 18px;
    line-height: 21px;
  }
}
//.tab-header li:hover
.tab-header li.active {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 5px solid black;
  color: $color-black;
  cursor: pointer;
  margin-bottom: -5px;
  @media only screen and (max-width: 568px) {
    font-size: 18px;
    line-height: 21px;
  }
}
.tab-content {
  padding: 48px 0;
  width: 100%;
  position: relative;
}
.submit-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  height: 53px;
  width: 100%;
}

$tablet: 768px;

@mixin breakpoint($point) {
  @if $point == untilTablet {
    @media (max-width: $tablet - 1) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  }
}

.dropdown {
  width: 100%;
  font-family: "Lato", sans-serif;
  margin-top: 6px;
  //@include breakpoint(tablet) {
  //  width: 600px;
  //}

  li {
    font-family: Poppins;
  }
  &__switch:checked + &__options-filter &__select {
    transform: scaleY(1);
    z-index: 9;
  }

  &__switch:checked + &__options-filter &__filter:after {
    transform: rotate(-135deg);
  }

  &__options-filter {
    width: 100%;
    cursor: pointer;
  }

  &__filter {
    position: relative;
    color: #595959;
    font-size: 14px;
    transition: 0.3s;
    height: 53px;
    display: block;
    background: #ffffff;
    border: 1px solid #07a189;
    box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
    border-radius: 15px;
    padding: 0 55px;

    li {
      list-style: none;
    }

    &:focus {
      //border: 1px solid #918FF4;
      outline: none;
      //box-shadow: 0 0 5px 3px #918FF4;
    }

    &::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: "";
      width: 10px;
      height: 10px;
      border-right: 2px solid #07a189;
      border-bottom: 2px solid #07a189;
      transform: rotate(45deg) translateX(-45%);
      transition: 0.2s ease-in-out;
    }
  }

  &__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
    transform: scaleY(0);
    transform-origin: top;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    display: block;
    padding: 0;
    z-index: 9;
  }

  &__select-option {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    transition: 0.3s;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover {
      background-color: #f9f9f9;
    }
  }
}
.dropdown__filter-selected {
  line-height: 54px;
}

.dropdown-city {
  position: relative;
  img {
    position: absolute;
    left: 14px;
    top: 19px;
  }
  img.location {
    top: 17px;
  }
}

.select-section {
  .css-1s2u09g-control,
  .css-1pahdxg-control {
    height: 52px;
    margin-top: 6px;
    //box-shadow: 3px 18px 37px 10px rgb(165 165 165 / 20%);
    border: 1px solid #07a189;
    background: #ffffff;
    border-radius: 15px;
    svg {
      color: #07a189;
      width: 27px;
      height: 27px;
    }
    .css-1okebmr-indicatorSeparator {
      display: none;
    }
    .css-14el2xx-placeholder,
    .css-qc6sy-singleValue {
      color: #595959;
      font-size: 14px;
      font-family: Poppins;
      padding-left: 44px;
      margin: 0;
    }
    .css-qc6sy-singleValue {
      color: black;
    }
  }
  .input-field-details {
    position: relative;
    .mail {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    .location {
      position: absolute;
      top: 18px;
      left: 15px;
    }
  }
}

.react-select__option {
  font-size: 14px;
  font-family: Poppins;
}

.responsive_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: none;
  /* identical to box height */

  color: #000000;
  @media only screen and (max-width: 568px) {
    display: block;
    max-width: 125px;
  }
  @media only screen and (max-width: 468px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 468px) {
    max-width: 100%;
  }
  
}

.gig-pricing-btn {
  margin-top: 65px;
  max-width: 670px;
  margin: 65px auto 0 auto;
}
